# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Optional: Ignore database backup files
*.sql
*.sqlite

# Optional: Ignore build or temp files
dist/
temp/
